
<div class="page">
  <form class="formLogin">
    <img src="../../assets/logo.png" width="250" height="auto">
    <h1>Meu Perfil Motorista</h1>
    <p>Dados do seu perfil de Passageiro</p>
    <label>Nome</label>
    <input type="text" [formControl]="nome" placeholder="Digite seu nome" autofocus="true" />
    <label>CPF</label>
    <input type="text" [formControl]="cpf" placeholder="Digite seu CPF" autofocus="true" />
    <label>Celular</label>
    <input type="text" [formControl]="telefone" placeholder="Digite seu Celular" autofocus="true" />
    <label>E-mail</label>
    <input type="email" [formControl]="email" placeholder="Digite seu e-mail" autofocus="true" />
    <input (click)="atualizar()" value="Atualizar" class="btn" />
  </form>
</div>

