<div class="page">
  <div class="formLogin">
    <img src="../../assets/logo.png" width="250" height="auto">
    <h1>Login Passageiro</h1>
    <p>Digite os seus dados de acesso no campo abaixo.</p>
    <label>E-mail</label>
    <input  [formControl]="email" type="email" placeholder="Digite seu e-mail" autofocus="true" />
    <label>Senha</label>
    <input [formControl]="senha" type="password" placeholder="Digite seu e-mail" />
    <a href="/">Esqueci minha senha</a>
    <button (click)="login()" class="btn">Logar</button>
    <label *ngIf="error" style="color:brown">Usuário ou senha incorretos!</label>
  </div>
</div>
