<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img style="margin: auto;" src="../../assets/logo.png" width="250" height="auto">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link">Meu perfil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Corridas</a>
      </li>
    </ul>
  </div>
</nav>


<div class="page">
  <div class="formLogin">
    <img style="margin: auto;" src="../../assets/logo.png" width="250" height="auto">
    <h1>Login Passageiro</h1>
    <p>Digite os seus dados de acesso no campo abaixo.</p>
    <label>E-mail</label>
    <input  [formControl]="email" type="email" placeholder="Digite seu e-mail" autofocus="true" />
    <label>Senha</label>
    <input [formControl]="senha" type="password" placeholder="Digite seu e-mail" />
    <a href="/">Esqueci minha senha</a>
    <button (click)="login()" class="btn">Logar</button>
    <label *ngIf="error" style="color:brown">Usuário ou senha incorretos!</label>
  </div>
</div>
