<div class="page">
  <div class="formLogin">
    <img src="../../assets/logo.png" width="250" height="auto">
    <p>Já é registrado?</p>
    <button [routerLink]="['/login-motorista']" class="btn">Logar como Motorista </button>
    <button [routerLink]="['/login-passageiro']" class="btn" >Logar como Passageiro </button>
    <p>Não? Então cadastre-se:</p>
    <button [routerLink]="['/cadastro-motorista']" class="btn">Cadastrar como Motorista </button>
    <button [routerLink]="['/cadastro-passageiro']" class="btn">Cadastrar como Passageiro </button>
  </div>
</div>
