
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img style="margin: auto;" src="../../assets/logo.png" width="250" height="auto">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a [routerLink]="['/meu-perfil-motorista', id]" class="nav-link">Meu perfil</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/corridas-motorista', id]"  class="nav-link">Corridas</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/meus-carros', id]"  class="nav-link">Carros</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/inicio']"  class="nav-link">Logoff</a>
      </li>
    </ul>
  </div>
</nav>
<div class="page">
  <div class="formLogin">
    <img style="margin: auto;" src="../../assets/logo.png" width="250" height="auto">
    <h1>Carros Cadastrados</h1>
    <p>Dados dos seus carros</p>


    <div class="d-flex flex-column" *ngIf="novoCarro">
      <label>Novo Carro</label>
      <input type="text" [formControl]="carroNome" placeholder="Digite o nome do carro" autofocus="true" />
    </div>
    <button *ngIf="!novoCarro" (click)="ativarCadastro()"  class="btn">Novo Carro</button>
    <button *ngIf="novoCarro" (click)="cadastrarCarro()"  class="btn">Cadastrar</button>
    <hr size=7>
    <div>Meus Carros:</div>
    <div *ngFor="let carro of carros; let i = index" class="d-flex flex-column">

        <span class="btn btn-light">{{ carro.modelo }}  
            <a (click)="apagar(carro.id)" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
        </span>

    </div>
    <hr size=7>
    <button (click)="voltar()" class="btn">Voltar</button>
  </div>
</div>

